
  <table class="table table-striped items">
    <thead>
      <tr class="list-root"></tr>
      {{#if collection.length }}
        <tr>
          <th>#</th>
          {{#each menu_items.models}}
            <th {{#unless visible}}class="hidden"{{/unless}} data-name="{{name}}">{{title}}</th>
          {{/each}}
        </tr>
      {{/if}}
    </thead>

    <tbody></tbody>

  </table>

  <ul class="dropdown-menu" aria-labelledby="drop">
    {{#each menu_items.models}}
      <li>
        <input name="{{name}}" id="{{name}}" type="checkbox" autocomplete="off" {{#if visible}}checked{{/if}}>
        <label for="{{name}}"><i class="glyphicon"></i>{{title}}</label>
      </li>
    {{/each}}
  </ul>


