
  <table class="table table-striped items">
    <thead>
      <tr class="list-root"></tr>
      {{#if collection.length }}
        <tr>
          <th>#</th>
          {{#each columns.models}}
            <th {{#unless visible}}class="hidden"{{/unless}} data-name="{{column_id}}">{{name}}</th>
          {{/each}}
        </tr>
      {{/if}}
    </thead>

    <tbody></tbody>

  </table>

  <ul class="dropdown-menu" aria-labelledby="drop">
    {{#each columns.models}}
      <li>
        <input name="{{column_id}}" id="{{uid true}}" type="checkbox" class="column-check" autocomplete="off" {{#if visible}}checked{{/if}}>
        <label for="{{uid false}}"><i class="glyphicon"></i>{{name}}</label>
      </li>
    {{/each}}
  </ul>


