<td width="10px">
  <input type="checkbox" id="{{uid true}}" {{#if model.is_checked }} checked="checked" {{/if}} />
  <label for="{{uid false}}"><i class="glyphicon"></i></label>
</td>

{{#each columns.models}}
  <td data-name="{{column_id}}" {{#unless visible}}class="hidden"{{/unless}}>
    {{! thumb}}
    {{#eq column_id 'thumbnail'}}
      {{#if ../../model.thumbnail}}
      <img class="{{column_id}}" src="{{get ../../../model column_id}}">
      {{/if}}
    {{else}}
      {{! name}}
      {{#eq column_id 'name'}}
        {{#if ../../../model.can_show_children}}
          <a href="#">{{get ../../../../model column_id}}</a>
        {{else}}
          {{get ../../../../model column_id}}
        {{/if}}
      {{else}}
        {{! others}}
        {{get ../../../model column_id}}
      {{/eq}}

    {{/eq}}
  </td>
{{/each}}
