{{#show}}
<div class="pagination pagination-centered" data-pagination-id="{{id}}">
  <ul>
    <li><a href="#" class="prev {{when prev_disabled then="disabled"}}">«</a></li>
    {{#each pages}}
      {{#if gap}}
        <li class="inner gap"><span>...</span></li>
      {{else}}
        <li class="inner {{active_if ../../current_page page}}"><a href="#">{{page}}</a></li>
      {{/if}}
    {{/each}}

    <li><a href="#" class="next {{when next_disabled then="disabled"}}">»</a></li>
  </ul>
</div>
{{/show}}
