<!--Collection items will appear here!-->
{{#if collection.length}}
  <div class="bm-overflown">
    <a class="toggle-link sub-toggle" role="button" data-toggle="collapse" href="#overflown-{{collection.cid}}" aria-expanded="false" aria-controls="overflown-{{collection.cid}}">{{message}}</a>
    <div class="collapse" id="overflown-{{collection.cid}}" aria-expanded="false">
      <div class="bm-overflown-items" data-input></div>
    </div>
  </div>
{{else}}
  {{#if before}}
    {{#if offset}}
      <div class="bm-overflown">
        <p>{{message}}</p>
      </div>
    {{/if}}
  {{/if}}
{{/if}}
