<div class="error_message">
  <p>An error occurred and we're not sure why.</p>
  <p>Please, send the error details below to developers with the description of what you were doing when the error occurred to help fix it.</p>
  <p><a data-toggle="collapse" href="#{{uid true}}" aria-expanded="false" aria-controls="{{uid}}">Error details</a></p>

  <div id="{{uid}}" class="collapse">
    {{#each errors}}
      <div class="error">
        <p>{{message}}</p>
        <p><code>{{type}}</code> {{url}}</p>
        <p>{{timestamp}} :: {{status_code}} {{status_text}}</p>

        {{#if debug}}
          <div class="debug">
            <pre>{{ pretty_debug }}</pre>
          </div>
        {{/if}}

      </div>
    {{/each}}
  </div>
</div>
