
<div class="layout-name">
    <div class="label label-info">{{state.mode}}</div>
    {{#if model.shared}}
      <span class="shared-label">Shared:</span>
    {{/if}}
    {{#if editing }}
      <form method="post" class="js-layout">
        <input type="text" name="name" class="js-name" value="{{ model.name }}">
        <div class="btns">
          <a href="#" class="btn btn-link js-cancel">Cancel</a>
          <button type="submit" class="btn btn-primary">Apply</button>
        </div>
      </form>
    {{else}}
      <span class="js-show-form"><span class="js-layout-name">{{ model.name }}</span> <i class="material-icons">edit</i></span>
    {{/if}}
</div>
<div class="actions">
  {{#eq state.mode 'normal'}}
      <button class="btn btn-link js-discard">Discard</button>
      <button class="btn btn-primary js-publish">Publish layout</button>
  {{else}}
      <button class="btn btn-primary js-normal-mode">Back to editing</button>
  {{/eq}}
</div>
