<div class="app-logo-box"><div class="app-logo ngl-tooltip" title="{{layouts_version}}"></div></div>
<div class="bm-header">
  <div class="layout-name">

      {{#if normal_editing}}
        {{#> overrides/header}}{{!-- override with partial --}}{{/overrides/header}}
      {{/if}}

      {{#if base_layout}}
        <a href="#" class="js-normal-mode">{{base_layout.name}}</a>
        <span>&gt;</span>
      {{/if}}

      {{#if model.shared }}<i class="material-icons shared-icon">share</i>{{/if}}

      {{#if normal_editing}}
        <span class="show-form ngl-tooltip js-show-form" title="{{ model.description}}"><span class="js-layout-name" data-placement="bottom">{{ model.name }}</span> <i class="material-icons">edit</i></span>
        {{#> overrides/header_additional_name}}{{!-- override with partial --}}{{/overrides/header_additional_name}}
      {{else}}
        <span class="show-form ngl-tooltip js-layout-name" title="{{ model.description}}">{{ model.name }}</span>
      {{/if}}


  </div>
  <div class="actions">
    {{#if normal_editing}}
        {{> discard_publish }}
    {{else}}
        {{#eq state.mode 'edit_master'}}
          <button class="btn btn-primary btn-icon-left js-back"><i class="material-icons">keyboard_arrow_left</i>Back</button>
          {{> discard_publish }}
        {{else}}
          {{#eq state.mode 'linking'}}
            <button class="btn btn-primary btn-icon-left js-soft-back"><i class="material-icons">keyboard_arrow_left</i>Back</button>
          {{else}}
            {{#eq state.mode 'translate'}}
              <button class="btn btn-primary btn-icon-left js-normal-mode"><i class="material-icons">keyboard_arrow_left</i>Back</button>
            {{else}}
              {{#eq state.mode 'change_type'}}
                <button class="btn btn-link-white js-back">Cancel</button>
              {{else}}
                <button class="btn btn-primary btn-icon-left js-back"><i class="material-icons">keyboard_arrow_left</i>Back</button>
              {{/eq}}
            {{/eq}}
          {{/eq}}

        {{/eq}}
    {{/if}}


    {{#eq state.mode 'change_type'}}
      <button class="btn btn-primary btn-icon-left js-change-layout-apply">Apply</button>
    {{/eq}}



  </div>
</div>
