<div class="header">Select a new layout type</div>
<div class="items" name="layout[id]">
  {{#each collection.models}}

    <div class="layout-type-item">
      <input id="{{uid true}}" name="layout_type[id]" required="required" value="{{id}}" {{#eq id ../params.layout_type_id}}checked="checked" {{/eq}} type="radio">
      <label for="{{uid}}" class="required">
        <i class="icon" style="background-image:url({{icon}})"></i> {{name}}
      </label>
    </div>

  {{/each}}
</div>


