{{#if show_header}}
  <div class="zone-header">
    <span class="zone-name">{{model.identifier}}</span>
    <div class="zone-controls">
      {{#eq mode "chooser"}}
        {{#if model.is_linked}}
          <span class="zone-btn linked-zone-btn bm-tooltip" data-placement="left"><span class="link-zone-icon"></span><div class="tooltip-box"><div class="tooltip-text"><span class="tt-note">This zone is already linked with</span><br/> <strong>"{{model.linked_layout.name}} / {{model.linked_zone_identifier}}"</strong></div></div></span>
          <div class="dropdown">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="material-icons">more_horiz</i></button>
              <ul class="dropdown-menu dropdown-menu-right">
                  <li><a title="Relink" class="js-choose">Relink<span class="note">Choose different zone</span></a></li>
                  <li><a title="Unlink" class="js-unlink">Unlink</a></li>
              </ul>
          </div>
        {{else}}
          <a href="#" class="zone-btn link-zone-btn js-choose"><span>Link zone</span> <span class="link-zone-icon"></span></a>
        {{/if}}
      {{/eq}}
      {{#eq mode "linker"}}
        <a href="#" class="zone-btn link-zone-btn js-link"><span class="link-zone-icon"></span> <span>Select zone</span></a>
      {{/eq}}
    </div>
  </div>
{{/if}}

<div class="zone-body">
  {{#eq mode "disabler"}}
    <div class="disabler"></div>
  {{/eq}}



  {{#eq mode 'linked'}}
    <div class="linked_info">
      <div>This zone is linked with:</div>
      <div class="layout_icon layout_{{model.layout.type}}"></div>
      <div><strong>Name:</strong> {{model.linked_layout.name}}</div>
      <div><strong>Zone name:</strong> {{model.linked_zone_identifier}}</div>
    </div>
  {{/eq}}


  {{! --------------- blocks -------------------- }}
</div>
